

/*** mv ***/

.p-catch {
  position: relative;
  height: auto;
}
.p-catch img{
  width: 100%;
  height: auto;
}
.p-catch__title {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.p-catch__title p{
  display: table;
  font-size: 2vw;
  font-weight: bold;
  padding: .5rem 1rem;
  margin-bottom: 10%;
  background: linear-gradient(transparent 0, #fff 0);
}

/*** mv ***/

/*** about ***/

#about .c-box {
  display: flex;
  justify-content: center;
}
#about .c-box li{
  width: 450px;
  margin: 0 2rem;
}
#about .c-box li img{
  display: block;
  margin: 2rem auto;
  border-radius: 20px;
}
#about .c-box .c-box-ttl{
  font-size: 2.4rem;
  font-weight: bold;
  margin: 2rem auto 3rem;
}
@media (max-width: 768px) {
  #about .c-box {
    display: block;
  }
  #about .c-box li{
    max-width: 450px;
    width: 100%;
    margin: 0 auto 5rem;
  }
  #about .c-box .c-subTitle{
    margin: 2rem auto;
  }
}
@media (max-width: 480px) {
  #about .c-box .c-subTitle{
    font-size: 2rem;
  }
}
/*** about ***/

/*** examination ***/
#examination {
  background: #F7F5F2;
}
#examination .c-box {
  display: flex;
  justify-content: center;
}
#examination .c-subTitle{
  font-size: 2.4rem;
  text-align: center;
  max-width: 780px;
  margin: 0 auto 4rem;
}
#examination .c-box li{
  position: relative;
  width: 450px;
  margin: 0 2rem;
  padding: 2rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
}
#examination .c-box .c-box-ttl{
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem auto 3rem;
}
#examination .c-box .c-box-txt{
  margin: 0 0 20rem;
}
#examination .c-box li img{
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
}
@media (max-width: 768px) {
  #examination .c-box {
    display: block;
  }
  #examination .c-box li{
    max-width: 450px;
    width: 100%;
    margin: 0 auto 5rem;
  }
  #examination .c-subTitle{
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  #examination .c-box .c-subTitle{
    font-size: 2rem;
  }
}
/*** examination ***/

/*** news ***/
#news .c-box{
  position: relative;
  max-width: 1000px;
  background: #F7F5F2;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin: 0 auto;
  padding: 2rem 2rem 7rem;
}
#news .c-box li{
  position: relative;
  border-bottom: 1px solid #ddd;
}
#news .c-box li a{
  display: block;
  padding: 2rem;
}
#news .c-box li span{
  font-weight: bold;
  color: #21a937;
  margin: 0 5rem 0 0;
  width: 200px;
}
#news .c-box .link-more {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  padding: .5rem;
}
@media (max-width: 768px) {
  #examination .c-box {
    display: block;
  }
  #examination .c-box li{
    max-width: 450px;
    width: 100%;
    margin: 0 auto 5rem;
  }
  #news .c-box li span{
    display: block;
    font-weight: bold;
    color: #21a937;
    margin: 0 5rem 1rem 0;
    width: 200px;
  }
}
/*** news ***/

/*** access ***/
#access {
  background: #F7F5F2;
}
#access .c-box{
  display: flex;
}
#access .c-box .adress{
  width: 48%;
  margin: 0 4% 0 0;
}
#access .c-box .adress .c-subTitle{
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 0 0 4rem;
  margin: 0 0 2rem;
}
#access .c-box .adress .c-subTitle::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-image: url(../img/pindrop.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#access .c-box .adress dt {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem;
  border-left: 10px solid #21a937;
}
#access .c-box .adress dd {
  font-size: 2rem;
  margin: 0 0 2rem;
  padding: 0 0 0 .5rem;
}
#access .c-box .adress dd span{
  display: block;
  position: relative;
  font-size: 1.6rem;
  margin: 0 0 2rem;
  padding: 0 0 0 1.6rem;
}
#access .c-box .adress dd span::before{
  content: "※";
  position: absolute;
  left: 0;
}
#access .c-box .map{
  width: 48%;
}
#access .c-box .map iframe{
  width: 100%;
}
@media (max-width: 768px) {
  #access .c-box{
    flex-direction: column-reverse;
  }
  #access .c-box .adress{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
  }
  #access .c-box .adress .c-subTitle{
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    padding: 0 0 0 3rem;
    margin: 0 0 2rem;
  }
  #access .c-box .adress .c-subTitle::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 28px;
    height: 28px;
    background-image: url(../img/pindrop.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #access .c-box .adress dt {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 0 1rem;
    padding: 0 0 0 .5rem;
    border-left: 10px solid #21a937;
  }
  #access .c-box .adress dd {
    font-size: 1.6rem;
    margin: 0 0 2rem;
    padding: 0 0 0 .5rem;
  }
  #access .c-box .adress dd span{
    display: block;
    position: relative;
    font-size: 1.4rem;
    margin: 0 0 2rem;
    padding: 0 0 0 1.6rem;
  }
  #access .c-box .map{
    width: 100%;
    margin: 0 auto 4rem;
  }
}
/*** access ***/

